@import '../../../scss/mixins';
@import '../../../scss/variables';


.search-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;

        .search-bar-wrap{
            margin: 90px auto 0;
            width: 1280px;

            .saerch-input-bar{
                display: flex;
                align-items: stretch;
                justify-content: stretch;
                .search-input{
                    width: 90%;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    font-size: $font-header;
                    outline: 0;
                }
                .search-button{
                    overflow: hidden;
                    border-radius: 50%;
                    outline: none;
                    border-style: none;
                    width: 60px;
                    height: 60px;
                    padding: 5px;
                    background: none;
                    cursor: pointer;
                    margin-left : -55px;

                    .search-but-img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .__search-navbar_wrap{
                width: 100%;

                .__search-navbar{
                    margin:0 ;


                }
            }
        }
        .search-content-container{
            width: 100%;
            height: 100%;
            overflow-y: auto;

            .search-content-container-wrap{

                height: 100%;
                background-color: #b6b6b633;
                overflow-y: scroll;
                .first-content{
                    font-size: $font-header;
                    margin-top : 20px;
                    text-align: center;
                }
                .search-card{

                    width: 1280px;
                    margin-left: 40px;
                    margin: 0 auto;

                    .__Card-main-container{
                        margin: 30px 0 30px 0;
                        height: 120px;
                        width:100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .content-wrap{
                            width: 100%;
                            margin : 20px;
                            
                        .news-title{
                            font-size: $font-header;
                            width: 100%;
                            b{
                                color: $color-primary-blue;
                                font-weight: bold;
                            }
                        }
                        .news-content{
                            margin-top: 8px;
                            width: 100%;
                            font-size: $font-regular;
                            b{
                                color: $color-primary-blue;
                                font-weight: bold;
                            }
                        }
                        .news-time{
                            margin-top: 8px;
                            font-size: $font-smallest;
                            width: 100%;
                        }
                    }
                    }
                }
            }
        }
        .search-pagination-wrap{
            width:100%;
            display: flex;

        }
    }